@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* declare variables in css */
:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box; /* no padding to affect width -- default */
}

body {
  background-color: #f9fafb;
  font-family: 'Open Sans', sans-serif;
  display: flex; /* easily put stuff in the middle both horizontally and vertically -- gets all DIRECT CHILDREn*/
  align-items: center;
  justify-content: center;

  /* if want to center vertically -- need a height here as min-height */
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* creates drop shadow */
  width: 400px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 30px 40px; /* 30 px top and bottom, 40 px left and right */
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative; /* here we use relative as if wish to make child absolute--- parent must be relative */
}

.form-control label {
  color: #777;
  display: block; /* make it not inline override default style */
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block; /* own line */
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777; /* gives a darker border when click inside */
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden; /* difference between visibility and display none -- none will collapse visiblity -- just makes invisible */
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
